{% extends 'base.html' %}
{% block content %}
<div class="max-w-sm mx-auto mt-20 border border-gray-300 rounded-lg p-8 shadow-sm">
    <h2 class="text-xl font-bold mb-6 text-center">Admin Panel</h2>
    <form method="POST">
        <input type="password" name="password" placeholder="Password" required
               class="w-full border border-gray-300 p-2 rounded mb-4 focus:outline-none focus:border-black">
        <button type="submit" class="w-full bg-black text-white py-2 rounded hover:bg-gray-800 transition">
            Kirish
        </button>
    </form>
</div>
{% endblock %}