{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<article class="prose prose-slate max-w-none prose-headings:font-serif prose-a:text-blue-600">
    <div class="flex justify-between items-baseline border-b border-gray-200 pb-4 mb-8">
        <h1 class="text-3xl font-bold m-0">{{ post.title }}</h1>
    </div>

    <div class="markdown-body">
        {{ post.content | safe }}
    </div>
</article>

<div class="mt-16 pt-6 border-t border-gray-200 flex justify-between text-sm text-gray-600">
    <a href="/" class="hover:text-black transition"><i class="fa-solid fa-arrow-left-long"></i> Orqa qaytish</a>
    <button onclick="sharePost()" class="hover:text-black transition flex items-center gap-1 cursor-pointer">
        Ulashish <i class="fa-solid fa-arrow-up-right-from-square"></i>
    </button>
</div>

<script>
    function sharePost() {
        if (navigator.share) {
            navigator.share({
                title: '{{ post.title }}',
                url: window.location.href
            });
        } else {
            navigator.clipboard.writeText(window.location.href);
            alert('Link copied!');
        }
    }
</script>
{% endblock %}